@page "{Device?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>ApiServer is @Model.ApiServer</p>
</div>

<form action="">
    <select id="SelectDevice">
        <option></option>
        <option>rpi1</option>
        <option>testdevice3</option>
    </select>
</form>

<script type="text/javascript">
    $("#SelectDevice").change(function () {
        window.location.href = "/Device/" + $("#SelectDevice :selected").text()
    });
</script>

Data for device '@Model.Device'<br />
Current temperature: <span id="currenttemp"></span><br />
Min temperature: <span id="mintemp"></span><br />
Max temperature: <span id="maxtemp"></span><br />
ΔT: <span id="deltaT"></span><br /><br />

<canvas id="temperatureChart" width="800" height="400"></canvas>

<script type="text/javascript">
    // Chart setup
    var ctx = document.getElementById("temperatureChart").getContext("2d");
    var chartdata = { labels: [], datasets: [{
            label: "'@Model.Device' Temperature",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: []
        }]
    };

    // Fetch device ID from name
    $.getJSON("@Model.ApiServer/api/device/@Model.Device", function(data){
        $("#deviceId").text(data.deviceId);

        // Fetch latest temperature data
        $.getJSON("@Model.ApiServer/api/temperature/GetLatestTemp/" + data.deviceId, function(latestTempData){
            $("#currenttemp").html(latestTempData.value + " @@ " + latestTempData.timestamp);
        });

        // Fetch 24 hour temperature data and load it into the chart
        $.getJSON("@Model.ApiServer/api/temperature/GetLast24HourTemperatures/" + data.deviceId, function(last24hourData){
            for (var i = 0; i < last24hourData.length; i++) {
                chartdata.labels.push(last24hourData[i].hour);
                chartdata.datasets[0].data.push(last24hourData[i].value);
            }

            var temperatureLineChart = new Chart(ctx, {
                type: 'line',
                data: chartdata
            });

            var min = last24hourData.reduce(function(prev, curr) {
                return prev.value < curr.value ? prev : curr;
            });

            var max = last24hourData.reduce(function (prev, curr) {
                return prev.value > curr.value ? prev : curr;
            });

            $("#mintemp").html(min.value + " @@ Hour " + min.hour);
            $("#maxtemp").html(max.value + " @@ Hour " + max.hour);
            $("#deltaT").html((max.value - min.value).toFixed(2));
        });
    });
</script>